.shared-files-wrapper {
  background-color: #171717;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

.shared-files-header {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.shared-files-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.shared-file-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  background-color: #282828;
  border-radius: 5px;
  margin-bottom: 10px;
}

.shared-file-link {
  color: #00aaff;
  text-decoration: none;
  font-size: 16px;
}

.shared-file-link:hover {
  text-decoration: underline;
}

.shared-file-expiration {
  font-size: 12px;
  color: gray;
}

.no-shared-files {
  font-size: 14px;
  color: gray;
  text-align: center;
}

.view-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.view-button:hover {
  background-color: #171717;
  color:#007bff;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.shared-file-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  background-color: #282828;
  border-radius: 5px;
  margin-bottom: 10px;
  align-items: flex-start; /* Align button and text neatly */
}
