#login-form {
    min-width: 350px;
    max-height: 500px;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
        backdrop-filter: blur(30px);
        border-radius: 15px;
    gap: 25px;
    font-family: var(--font-Helvetica);
  }
  #form-title_upload {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    color: var(--font_colour);
  }
  
  .form-element {
    width: 100%;
    max-width: 350px;
    height: max-content;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .form-element:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.2);
    outline: none;
  }
  
  button.form-element {
    background-color: #4a90e2;
    color: #ffffff;
    border: none;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  button.form-element:hover {
    background-color: #357ab8;
  }

  button.form-element:active {
    background-color: #2a6191;
  }

  .upload_container{
    display: flex;
    gap: 25px;
  }
  #files-uploaded{
display: inline-flex;
flex-wrap: wrap;
gap: 5px;
height: max-content;

}
#uploaded-files{
background-color:  var(--orange);
height: fit-content;
padding:5px 10px;
border-radius: 5px;
font: 20px var(--font-Helvetica);
}

/* #submit{
  background-color: var(--orange);
  width: 100%;
  max-width: 350px;
} */

#input-display{
  display: flex;
  gap: 25px;
  min-width: 400px;
    }

@media (max-width: 500px) {
    .upload_container{
        display: flex;
        flex-direction: column;
      }
      #input-display{
        display: flex;
        flex-direction: column;
        }
        #login-form{
          max-height: none;
        }
        #files-uploaded{
          max-width: 350px;
        }

  }

