.dashboard_container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    border: 5px solid var(--orange);
}

.title {
    font-size: 25px;
    font-weight: bold;
    text-align: start;
    color: var(--font_colour);
    padding: 10px 10px 10px 0px;
}
.billboard-title {
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    text-align: center;
    font-size: 20px;
    font-family: var(--font_Helvetica);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.scan_results{
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border-radius: 15px;
    padding: 25px;
    gap: 25px;
}

.score_container {
    display: flex;
    flex-direction: column;
    flex-wrap:inherit;
    gap: 10px;
    align-items: flex-start;
    max-height: 200px;
}

.subtitle {
    font: 22px var(--font_Helvetica);
}
.engine_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.billboard {
    background-color: var(--orange);
    border-radius: 5px;
    padding: 5px 10px;
    gap: 25px;
    width: max-content;
}

.billboard-horizontal {
    display: flex;
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid var(--orange);
    gap: 25px;
    max-width: 100%;
    text-wrap: wrap;
}

.billboard-link{
padding: 5px;
border: 2px solid var(--orange);
border-radius: 5px;
transition: 0.3s ease-in-out;
}

.billboard-link:hover{
    border: 2px solid var(--font_colour);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    }

.engine-info{
    align-items: flex-start;
    justify-content: left;
    background-color: #171717;
    padding: 5px;
    border-radius: 5px;
    gap: 10px;
}

.analysis_info_container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
    justify-content: left;
}

.stats-info{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    align-items: flex-start;
    justify-content: left;
}

.stat-item{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-size: 20px;
    border: 2px solid #171717;
}

.analysis_id{
display: flex;
flex-wrap: wrap;
overflow-x: hidden;
text-wrap: wrap;
width: 100%;
}

.welcome-message{
    font-size: 20px;
    font-weight: bold;
    width: 350px;
    color: var(--font_colour);
    padding: 10px 10px 10px 0px;
}

@media (max-width: 500px) {
    .scan_results{
        max-width: 300px;
    }
    .stats-info{
        display: inline-flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        justify-content: left;
    }
    .billboard {
        max-width: 250px;
        background-color: var(--orange);
        border-radius: 5px;
        padding: 5px 10px;
        gap: 25px;
        width: fit-content;
    }
    .content {
        border-radius: 15px;
        padding: 5px 10px;
        gap: 15px;
    }
    .analysis_info_container {
        display: inline-flex;
        flex-wrap: wrap;
        max-width:100%;
        gap: 10px;
        align-items: flex-start;
        justify-content: left;
    }
    .billboard-horizontal{
        display: flex;
        max-width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        text-wrap: wrap;
        gap: 10px;
    }
}