.complex-form {
  max-width: 500px;
  min-width: 350px;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background: #171717;
  border: 2px solid var(--font_colour);
    gap: 20px;
  font-family: var(--font-Helvetica);
  transition: all 0.3s ease;
  margin-top: 30px;
}

.complex-form:hover {
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.15);
}

.form-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: var(--font_colour);
  margin-bottom: 10px;
}

#auth-buttons_login {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form-element {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
  outline: none;
  transition: all 0.3s ease;
  margin-bottom: 15px;
}

.form-element:focus {
  border-color: var(--orange);
  box-shadow: 0px 0px 5px rgba(255, 165, 0, 0.5);
}

.auth-button {
  flex: 1;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: var(--orange);
  border: 2px solid transparent;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  max-height: fit-content;
}
.auth-button-google{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 5px 10px;
  background-color: var(--font_colour);
  color: darkslategray;
  border: 2px solid darkslategray;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.auth-button-google:hover{
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--orange);
  border: 2px solid var(--orange);
  transition: all 0.3s ease;
}

.auth-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--orange);
  border: 2px solid var(--orange);
}

.error {
  color: #ff4d4f;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  background-color: white;
  border-radius: 6px;
}
.success {
  color: green;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  background-color: white;
  border-radius: 6px;
}

.auth-button-secondary {
  font-size: 14px;
  font-weight: bold;
  color: #007bff;
  background-color: var(--font_colour);
  padding: 2px 5px;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}

.auth-button-secondary:hover {
  color: var(--orange);
}

#auth-buttons_signin,
#auth-buttons_signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
